
div{
	border-width: 2px;
	border-style: solid;
	border-color:red;
	margin:20px;
	padding:20px;
	background-color: green;
	background-image: url('ejemplo_css_ilustracioon.jpg');
	
		width: 200px;
	height:200px;

}